<div class="login-container">
    <img src="assets/images/logo2.png" class="logo" />
  <div class="login-box">
    <p class="text-center gradient-title"
      style="font-weight: 800; font-size: 32px; padding-top: 15px; margin-bottom: 15px;">Connexion</p>

    <!-- Success Alert -->
    <div class="alert alert-success alert-dismissible d-flex align-items-center fade show" *ngIf="successMessage"
      style="margin-top: 30px;">
      <i class="fas fa-check-circle" style="color: #3CB371"></i>
      <strong class="mx-2">Success!</strong> {{ successMessage }}
      <button type="button" class="btn-close" data-bs-dismiss="alert"
        style="font-size: 11px;padding-bottom: 8px;"></button>
    </div>
    <!-- Error Alert -->
    <div class="alert alert-danger alert-dismissible d-flex align-items-center fade show" *ngIf="loginError">
      <i class="fas fa-exclamation-circle" style="color: #c0392b"></i>
      <strong class="mx-2">Error!</strong> {{ loginError }}
      <button type="button" class="btn-close" data-bs-dismiss="alert"
        style="font-size: 11px;padding-bottom: 8px;"></button>
    </div>
    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <div class="input-container">
        <div class="input-group">
          <input class="form-control" type="text" formControlName="identifiant" placeholder=" " required>
          <span class="input-group-text"><i class="fas fa-envelope"></i></span>
          <label for="email" class="form-label">e-mail / nom d'utilisateur</label>
          <span *ngIf="loginForm.get('identifiant')?.invalid && loginForm.get('identifiant')?.touched"
            class="position-absolute top-0 end-0 me-2 mt-1 text-danger">
            <i class="fas fa-exclamation-circle" style="padding-right: 15px; padding-top: 14px;font-size: 14px;"></i>
          </span>
        </div>
      </div>

      <div class="input-container">
        <div class="input-group">
          <input class="form-control"[type]="showPassword ? 'text' : 'password'" formControlName="mot_de_passe" placeholder=" " required
            [ngClass]="{'is-invalid': loginForm.get('mot_de_passe')?.invalid && loginForm.get('mot_de_passe')?.touched}">
           
          <span class="input-group-text">
            <i class="fa-solid me-2" [ngClass]="showPassword ? 'fa-eye-slash' : 'fa-eye'"
            (click)="showPassword = !showPassword"></i>
            <i class="fas fa-lock"></i>
          </span>
          <label for="mot_de_passe" class="form-label">Mot de passe</label>
         
          <span *ngIf="loginForm.get('mot_de_passe')?.invalid && loginForm.get('mot_de_passe')?.touched"
            class="position-absolute top-0 end-0 me-2 mt-1 text-danger">
            <i class="fas fa-exclamation-circle" style="padding-right: 15px; padding-top: 14px;font-size: 14px;"></i>
          </span>
        </div>
        <small class="d-block text-end mt-2 gradient-title hover-effect" style="cursor: pointer;" (click)="onForgotPassword()">Mot de passe oublié?</small>
      </div>

      <div class="text-center" style="margin-top: 30px;">
        <button class="btn btn-lg gradient-btn" style="width: 238px; height: 54px;" [disabled]="loginForm.invalid"
          type="submit">Connexion</button>
      </div>
      <p class="text-center mt-2" style="font-size: 13px;">Vous n’avez pas de compte? <a href="/register"
          class="gradient-title hover-effect" style="font-size: 15px;">Inscription</a></p>
    </form>
    <div class="text-center">
      <hr class="my-3" style="width: 80%; margin: 20px auto;">
      <span
        style="position: relative; top: -28px; background: #F8F8FF; padding: 0 10px; font-size: 14px; color: #999;">OU</span>
    </div>

    <div class="text-center mb-3">
      <button type="button" class="btn btn-light d-flex align-items-center justify-content-center"
        style="width: 280px; height: 45px; border: 1px solid #ccc; border-radius: 10px; margin: 0 auto;"
        (click)="handleGoogleLogin()">
        <img src="https://developers.google.com/identity/images/g-logo.png" alt="Google" width="20" height="20"
          style="margin-right: 10px;">
        <span style="font-weight: 500; color: #555;">Connectez-vous avec Google</span>
      </button>

    </div>

  </div>
</div>