<div class="login-container">
  <img src="assets/images/logo2.png" class="logo" />

  <div class="login-box">
    <p class="text-center gradient-title"
      style="font-weight: 800; font-size: 32px; padding-top: 15px; margin-bottom: 2px;">
      Inscription
    </p>

    <!-- Success Alert -->
    <div class="alert alert-success alert-dismissible d-flex align-items-center fade show" *ngIf="successMessage"
      style="margin-top: 30px;">
      <i class="fas fa-check-circle" style="color: #3CB371"></i>
      <strong class="mx-2">Success!</strong> {{ successMessage }}
      <button type="button" class="btn-close" data-bs-dismiss="alert"
        style="font-size: 11px;padding-bottom: 8px;"></button>
    </div>

    <!-- Error Alert -->
    <div class="alert alert-danger alert-dismissible d-flex align-items-center fade show" *ngIf="registerError">
      <i class="fas fa-exclamation-circle" style="color: #c0392b"></i>
      <strong class="mx-2">Error!</strong> {{ registerError }}
      <button type="button" class="btn-close" data-bs-dismiss="alert"
        style="font-size: 11px;padding-bottom: 8px;"></button>
    </div>

    <form [formGroup]="registerForm" (ngSubmit)="register()">
      <!-- Nom -->
      <div class="input-container">
        <div class="input-group">
          <input class="form-control" type="text" id="nom" placeholder=" " formControlName="nom" />
          <span class="input-group-text"><i class="fas fa-user"></i></span>
          <label for="nom" class="form-label">Nom</label>
          <span *ngIf="registerForm.get('nom')?.invalid && registerForm.get('nom')?.touched"
            class="position-absolute top-0 end-0 me-2 mt-1 text-danger">
            <i class="fas fa-exclamation-circle" style="padding-right: 15px; padding-top: 14px;font-size: 14px;"></i>
          </span>
        </div>
        <div *ngIf="registerForm.get('nom')?.invalid && registerForm.get('nom')?.touched"
          class="text-danger small mt-1">
          Veuillez fournir un nom valide
        </div>
      </div>

      <!-- Nom d'utilisateur -->
      <div class="input-container ">
        <div class="input-group">
          <input class="form-control" type="text" id="nom_utilisateur" placeholder=" "
            formControlName="nom_utilisateur" />
          <span class="input-group-text"><i class="fas fa-user"></i></span>
          <label for="nom_utilisateur" class="form-label">Nom d'utilisateur</label>
          <span *ngIf="registerForm.get('nom_utilisateur')?.invalid && registerForm.get('nom_utilisateur')?.touched"
            class="position-absolute top-0 end-0 me-2 mt-1 text-danger">
            <i class="fas fa-exclamation-circle" style="padding-right: 15px; padding-top: 14px;font-size: 14px;"></i>
          </span>
        </div>
        <div *ngIf="registerForm.get('nom_utilisateur')?.invalid && registerForm.get('nom_utilisateur')?.touched"
          class="text-danger small mt-1">
          Veuillez fournir un nom d'utilisateur valide
        </div>
      </div>

      <!-- Email -->
      <div class="input-container">
        <div class="input-group">
          <input class="form-control" type="email" id="email" placeholder=" " formControlName="email" />
          <span class="input-group-text"><i class="fas fa-envelope"></i></span>
          <label for="email" class="form-label">E-mail</label>
          <span *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.touched"
            class="position-absolute top-0 end-0 me-2 mt-1 text-danger">
            <i class="fas fa-exclamation-circle" style="padding-right: 15px; padding-top: 14px;font-size: 14px;"></i>
          </span>
        </div>
        <div *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.touched"
          class="text-danger small mt-1">
          Veuillez fournir un e-mail valide
        </div>
      </div>
      <!-- Sélection du rôle -->
      <div class="input-container">
        <div class="input-group">
         
          <input class="form-control" type=text placeholder=" "
            formControlName="role" readonly/>
          <span class="input-group-text"><i class="fas fa-user-shield"></i></span>
          <label for="role" class="form-label">Rôle</label>
        </div>
        <div *ngIf="registerForm.get('role')?.invalid && registerForm.get('role')?.touched"
          class="text-danger small mt-1">
          Veuillez sélectionner un rôle
        </div>
      </div>




      <!-- Mot de passe -->
      <div class="input-container ">
        <div class="input-group">
          <input class="form-control" [type]="showPassword ? 'text' : 'password'" id="mot_de_passe" placeholder=" "
            formControlName="mot_de_passe" />
          <span class="input-group-text">
            <i class="fa-solid me-2" [ngClass]="showPassword ? 'fa-eye-slash' : 'fa-eye'"
              (click)="showPassword = !showPassword"></i>
            <i class="fas fa-lock"></i>
          </span>
          <label for="mot_de_passe" class="form-label">Mot de passe</label>
          <span *ngIf="registerForm.get('mot_de_passe')?.invalid && registerForm.get('mot_de_passe')?.touched"
            class="position-absolute top-0 end-0 me-2 mt-1 text-danger">
            <i class="fas fa-exclamation-circle" style="padding-right: 15px; padding-top: 14px;font-size: 14px;"></i>
          </span>
        </div>
        <div *ngIf="registerForm.get('mot_de_passe')?.invalid && registerForm.get('mot_de_passe')?.touched"
          class="text-danger small mt-1">
          Le mot de passe doit contenir au moins 6 caractères
        </div>
      </div>

      <!-- Confirmation mot de passe -->
      <div class="input-container ">
        <div class="input-group">
          <input class="form-control" [type]="showConfirmPassword ? 'text' : 'password'" id="confirmer_mot_de_passe"
            placeholder=" " formControlName="confirmer_mot_de_passe" />
          <span class="input-group-text">
            <i class="fa-solid me-2" [ngClass]="showConfirmPassword ? 'fa-eye-slash' : 'fa-eye'"
              (click)="showConfirmPassword = !showConfirmPassword"></i>
            <i class="fas fa-lock"></i>
          </span>
          <label for="confirmer_mot_de_passe" class="form-label">Confirmer le mot de passe</label>
          <span
            *ngIf="registerForm.get('confirmer_mot_de_passe')?.invalid && registerForm.get('confirmer_mot_de_passe')?.touched"
            class="position-absolute top-0 end-0 me-2 mt-1 text-danger">
            <i class="fas fa-exclamation-circle" style="padding-right: 15px; padding-top: 14px;font-size: 14px;"></i>
          </span>
        </div>
        <div
          *ngIf="registerForm.get('confirmer_mot_de_passe')?.invalid && registerForm.get('confirmer_mot_de_passe')?.touched"
          class="text-danger small mt-1">
          Veuillez confirmer votre mot de passe
        </div>
      </div>

      <!-- Bouton inscription -->
      <div class="text-center" style="margin-top: 30px;">
        <button class="btn btn-lg gradient-btn" style="width: 238px; height: 54px;" [disabled]="!registerForm.valid"
          type="submit">
          Inscription
        </button>
      </div>

      <!-- Lien vers la connexion -->
      <p class="text-center mt-2" style="font-size: 13px;">
        Vous avez déjà un compte ?
        <a routerLink="/login" class="gradient-title hover-effect" style="font-size: 15px;">Connexion</a>
      </p>
    </form>
  </div>
</div>