/* You can add global styles to this file, and also import other style files */
@import "node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "node_modules/@fortawesome/fontawesome-free/css/all.min.css";
body {
  overflow: hidden;
}



table.styled-table {
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 14px;
  font-family: sans-serif;
  width: 100%;
  border: 1px solid #ccc; 
}

.styled-table thead {
  background-color: #ddd;
}
.styled-table th,
.styled-table td {
  border: 1px solid #ddd;
  padding: 10px 15px;
  text-align: left;
}










