<div class="main-container" [ngClass]="{ 'sidebar-collapsed': collapsed }">

  <!-- ✅ CACHER le chat si afficherAssistants est true -->
  <div class="chat-container" *ngIf="!afficherAssistants">
    <p class="chat-title" *ngIf="messages.length === 0">
      <img src="assets/images/logo3.png" style="width: 50px;height: 50px;" />
      Comment puis-je vous aider ?
    </p>

    <div class="messages-container" #messagesContainer>
      <div class="messages">
        <div *ngFor="let msg of messages" [ngClass]="{'user-msg': msg.isUser, 'bot-msg': !msg.isUser}">
          <ng-container *ngIf="!msg.isUser; else userText">
            <div class="message-text" [innerHTML]="msg.text"></div>
          </ng-container>
          <ng-template #userText>
            <div class="message-text">
              {{ msg.text }}
            </div>
          </ng-template>
        </div>
      </div>
    </div>

    <!-- ✅ Zone de saisie -->
    <div class="input-area"
      [ngClass]="{ 'fixed-bottom': isFirstMessageSent,'sidebar-collapsed': collapsed && isFirstMessageSent }">
      <textarea placeholder="Poser une question" appAutoResize [(ngModel)]="message" (input)="toggleIcons($event)"
        (keydown.enter)="sendMessage($event)">
      </textarea>

      <div class="icons">
        <img src="assets/images/icon_fichier.png" class="icon-file">
        <img *ngIf="isTextNotEmpty" src="assets/images/icon_send.png" class="icon-send" (click)="sendMessage($event)">
      </div>
    </div>
  </div>

  <!-- ✅ Afficher la liste des assistants -->
  <div *ngIf="afficherAssistants" class="assistants-list">
    <div class="header">
      <h2 class="title">Liste des assistants</h2>
      <button class="close-button" (click)="fermerAssistants()">&#x2715;</button>
    </div>
    <div *ngIf="assistants.length === 0" class="empty-message ">
      <i class="fas fa-robot"></i> Aucun assistant trouvé
    </div>
    <ul class="cards-grid">
      <li *ngFor="let assistant of assistants" class="assistant-card">
        <img [src]="assistant.image" [alt]="assistant.nom" class="assistant-img" />
        <p class="assistant-name">{{ assistant.nom }}</p>
        <button class="add-button" (click)="ajouterAssistant(assistant)">
          <i class="fas fa-plus"></i>
        </button>
      </li>
    </ul>

  </div>


</div>