/* ========== CONTENU PRINCIPAL ========== */

.main-container {
  display: flex;
  height: 100vh;
  transition: margin-left 0.3s ease, width 0.3s ease;
  margin-left: 250px;
}

.main-container.sidebar-collapsed {
  margin-left: 58px;
  width: calc(100% - 58px);
}

.input-area.fixed-bottom {
  position: fixed;
  left: 32%;
  width: 55%;
  bottom: 20px;
  z-index: 1;
}

.main-container.sidebar-collapsed .input-area.fixed-bottom {
  width: 70%;
  /* ou 80% si tu veux qu'elle s'adapte mieux */
  transform: translateX(-20%);

}

.input-area {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  background: #F8F8FF;
  border-radius: 20px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  width: 67%;
  border: 1px solid #D0D3D4;
  padding: 10px;
  position: absolute;
  margin-top: 10%;
}


.chat-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  position: relative;
  padding-top: 50px;
  margin-bottom: 24vh;
  align-items: center;
  justify-content: center;
  transition: width 0.3s ease;
}

.sidebar.collapsed~.main-container .chat-container {
  width: 100%;
  /* Lorsque la sidebar est fermée, le contenu occupe toute la largeur */
}

.messages-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow-y: auto;
}

.user-msg {
  align-self: flex-end;
  background-color: #ecf0f1;
  color: #000;
  border-radius: 20px;
  padding: 10px 15px;
  max-width: 60%;
  margin-bottom: 10px;
  text-align: right;
  margin: 5px 0;
}

.bot-msg {
  align-self: flex-start;
  color: #000;
  border-radius: 20px;
  padding: 10px 15px;
  max-width: 60%;
  margin-bottom: 10px;
  margin-left: 150px;
}

.messages {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 85%;
  padding: 10px;
}

.chat-title {
  font-size: 26px;
  font-weight: bold;
  background: linear-gradient(to right, #90EE90, #228B22, #3CB371);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  margin-top: 140px;
}

.assistants-list {
  width: 100%;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  position: relative;
  width: 100%;
  max-width: 1000px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.close-button {
  position: absolute;
  top: -20px;
  right: 10px;
  background: transparent;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  z-index: 10;
}

.title {
  font-size: 24px;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(to right, #90EE90, #228B22, #3CB371);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
}

.cards-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 50px;
  list-style: none;
  padding: 0;
  margin: 0 auto;
  width: 100%;
  max-width: 1000px;
}


.assistant-card {
  background-color: #f9f9f9;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  display: flex;
  align-items: center;
  padding: 10px 15px;
  transition: transform 0.2s ease;
  cursor: pointer;
  position: relative;

  &:hover {
    transform: translateY(-5px);
  }

  .assistant-img {
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 15px;
  }

  .assistant-name {
    font-size: 16px;
    font-weight: 500;
    color: #333;
  }

  .add-button {
    background-color: #f0f3f4;
    color: white;
    border: none;
    padding: 8px 10px;
    border-radius: 4px;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    margin-left: auto;

    &:hover {
      background-color: #d0d3d4;
    }

    i {
      pointer-events: none;
    }
  }
}






.input-area textarea {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  padding: 5px;
  text-align: left;
  resize: none;
  min-height: 15vh;
  overflow-y: auto;
  word-break: break-word;
  white-space: pre-wrap;
  scrollbar-width: thin;
  scrollbar-color: #ECF0F1 transparent;

}

.input-area textarea::placeholder {
  color: rgba(0, 0, 0, 0.3);
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
}

.icons {
  display: flex;
  align-items: center;
}

.icon-send {
  width: 40px;
  height: 40px;
}

.icon-file {
  width: 28px;
  height: 28px;
}

.icon-voice {
  width: 40px;
  height: 40px;
}

/* Personnalisation de la scrollbar */
::-webkit-scrollbar-thumb {
  background: #ecf0f1;
  border-radius: 4px;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #ecf0f1 #F8F8FF;
}

.file-preview {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  width: auto;
  display: flex;
  margin-bottom: 5px;

}

.file-info {
  display: flex;
  gap: 10px;
  width: auto;
}

.remove-btn {
  background: none;
  border: none;
  font-size: 20px;
  color: red;
  cursor: pointer;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination-btn {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  padding: 10px;
  color: #333;
}

.pagination-btn:disabled {
  color: #ccc;
  cursor: not-allowed;
}

span {
  margin: 0 10px;
}

.empty-message {
  text-align: center;
  color: #aaa;
  font-size: 20px;
  padding: 20px 10px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.empty-message i {
  font-size: 20px;
}